{
  "enable": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "ignorePath": ".prettierignore",
  "insertPragma": false,
  "requireConfig": false,
  "requirePragma": false,
  "useEditorConfig": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "enableDebugLogs": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "never",
  "quoteProps": "as-needed",
  "resolveGlobalModules": false,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "withNodeModules": false
}