
.cursor-pointer {
  cursor: pointer;
}

.task-title:hover {
  color: rgb(116, 116, 116);

main {
  background-color: #cde2f2;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.createNewTask_section {
  padding: 1em;
  height: 5vh;
  justify-content: center;
  margin: auto;
  margin-bottom: 1em;
}
.column_section {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.auroraAgileLogo{
    height: 70%;
    margin: 1rem 2rem;
}

#dropdown-basic{
    margin: 1rem 2rem;
}
